@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 1440px;
  height: 4542px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  padding: 0;
  background: transparent;
}

li,
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

#wrap {
  margin: 47px 110px;
}

.nav-bar {
  width: 100%;
}

.site-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 47px; */
  position: relative;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 18px;
}

.site-nav-bar li a {
  padding: 10px 20px;
}

.depth-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.depth-wrap ul {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.depth-wrap li {
  /* margin: 0 20px; */
  position: relative;
}

.depth-wrap li:last-child {
  margin: 0;
}

.depth a:hover {
  color: #ff922f;
}

.depth-wrap li:first-child:hover::after {
  position: absolute;
  display: block;
  left: 28px;
  content: "";
  width: 33px;
  height: 3px;
  background-color: #ff922f;
  border-radius: 5px;
}

.depth-wrap li:nth-child(2n):hover::after {
  position: absolute;
  display: block;
  left: 27px;
  content: "";
  width: 49px;
  height: 3px;
  background-color: #ff922f;
  border-radius: 5px;
}

.depth-wrap li:nth-child(3n):hover::after {
  position: absolute;
  display: block;
  left: 27px;
  content: "";
  width: 73px;
  height: 3px;
  background-color: #ff922f;
  border-radius: 5px;
}

.depth-wrap li:nth-child(4n):hover::after {
  position: absolute;
  display: block;
  left: 29px;
  content: "";
  width: 55px;
  height: 3px;
  background-color: #ff922f;
  border-radius: 5px;
}

.depth-wrap .depth {
  margin: 0 10px;
}

.depth-wrap .depth1 {
  margin: 0 50px 0 20px;
  padding: 8px 5px;
  background-color: #407f55;
  color: #ffffff;
  border-radius: 5px;
}

.depth-wrap .depth1:nth-child(2n) {
  background-color: #fb9c46;
  padding: 8px 0;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

#container {
  position: relative;
  background-image: url(/img/Group\ 6.png), url(/img/bg-japan.png),
    url(/img/bg-china.png), url(/img/bg-italy.png), url(/img/Mask\ Group.png),
    url(/img/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-size: 900px, 100px, 100px, 100px, 450px, 450px;
  background-position: 63% -270%, 58% 25%, 90% 10%, 98% 59%, 90% 50.5%, 90% 50%;
}

.learn-online-languange {
  width: 100%;
  position: relative;
  padding-top: 80px;
  padding-bottom: 200px;
}

.tutors p:first-child {
  font-size: 16px;
  font-weight: 600;
  color: #fb9c46;
}

.tutors p:first-child::after {
  position: absolute;
  top: 6.6rem;
  left: 9.5rem;
  content: "";
  width: 136px;
  height: 1.5px;
  background-color: #fb9c46;
}

.tutors h1 {
  font-weight: bold;
  font-size: 48px;
}

.tutors h1 b {
  color: #fb9c46;
}

.lorem {
  color: #6c6c6c;
  font-size: 16px;
  margin-bottom: 65px;
}

.tutors a {
  background-color: #058e6e;
  color: white;
  padding: 15px 60px;
  border-radius: 16px;
  font-weight: 600;
  box-shadow: rgba(64, 127, 85, 0.08) 0 85px 80px,
    rgba(64, 127, 85, 0.0521271) 0 25.625px 24.1177px,
    rgba(64, 127, 85, 0.04) 0 10.6433px 10.0172px,
    rgba(64, 127, 85, 0.0278729) 0 3.84948px 3.62304px;
}

.learn {
  float: left;
  width: 40%;
  position: relative;
}

.learn p {
  font-weight: 600;
  color: #fb9c46;
}

.learn h2 {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.035rem;
  color: rgba(57, 57, 57, 1);
  margin: 0;
}
.learn p:last-child::after {
  position: absolute;
  top: 9.7rem;
  left: 8rem;
  content: "";
  width: 178px;
  height: 1px;
  background-color: #fb9c46;
}

.choice-language {
  padding-top: 15px;
}

.choice-language p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(108, 108, 108, 1);
}

.choice-language img {
  margin-right: 25px;
  position: relative;
}

.choice-language a:last-child {
  position: absolute;
  color: #fb9c46;
  font-weight: 400;
  font-size: 18px;
  top: 60rem;
}

.choice-language a:last-child img {
  position: absolute;
  justify-content: center;
  align-items: center;
}

.language::after {
  content: "";
  display: block;
  clear: both;
}

.find-tutors {
  width: 100%;
  padding: 120px 0 120px 0;
  position: relative;
  background-image: url(/img/Group\ 15.png);
  background-repeat: no-repeat;
  background-position: 110% 150%;
  background-size: 710px;
}

.Description-tutors h3 {
  width: 50%;
  /* padding-top: 100px; */
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.035em;
}

.Description-tutors p {
  width: 50%;
  font-weight: 400;
  font-size: 18px;
  color: #6c6c6c;
  padding-bottom: 40px;
}

.link-tutors a {
  margin-right: 38px;
  padding: 18.5px 24.5px;
  background-color: #fb9c46;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.link-tutors a:nth-child(2n) {
  background-color: white;
  color: #fb9c46;
  border: 3px solid #fb9c46;
}

.lesson-guide {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url(/img/student.png);
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: 0 -180%;
}

.lesson-sequence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  position: absolute;
  right: 80px;
}

h4 {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.035em;
  color: #393939;
  margin-bottom: 0;
}

.lesson-sequence b {
  font-weight: 600;
  color: #058e6e;
}

.lesson-sequence p {
  font-weight: 400;
  font-size: 18px;
  color: #6c6c6c;
}

.lesson-block {
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(5, 142, 110, 0.14) 0 -2px 128px;
  margin-bottom: 25px;
  position: relative;
}

.lesson-block .lesson-title {
  font-weight: 600;
  font-size: 16px;
  color: #393939;
  list-style: none;
}

.lesson-block ul li {
  font-weight: 400;
  font-size: 14px;
  color: #8d8d8d;
  list-style: inside;
}

.lesson-block a {
  color: #058e6e;
}

.lesson-content {
  padding: 20px 0 20px 100px;
}

.lesson-block {
  background-image: url(/img/Vector.png);
  background-repeat: no-repeat;
  background-size: 43.33px;
  background-position: 5% 35%;
}

.lesson-guide::after {
  content: "";
  display: block;
  clear: both;
}

.how-works {
  width: 100%;
  position: relative;
  padding: 0 0 100px;
  background-image: url(/img/videoimg.png);
  background-repeat: no-repeat;
  background-position: 100% 45%;
}

.curriculum {
  width: 50%;
}

.curriculum h5 {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.035em;
  color: #393939;
  margin-bottom: 0;
}

.curriculum b {
  color: #fb9c46;
}

.curriculum p {
  font-weight: 400;
  font-size: 18px;
  color: #6c6c6c;
  margin-bottom: 30px;
}

.works-block {
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(255, 146, 47, 0.15) 0 4px 357px,
    rgba(255, 146, 47, 0.075) 0 0.500862px 44.7019px;
  margin-bottom: 25px;
  position: relative;
}

.works-block .works-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: #fb9c46;
  list-style: none;
}

.works-content li {
  font-weight: 300;
  font-size: 14px;
  line-height: 22.4px;
  color: #393939;
}

.works-content {
  padding: 15px 0 15px 100px;
}

.works-block {
  background-image: url(/img/tutors.png);
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: 4.5% 50%;
}

.works-block:nth-child(2n) {
  background-image: url(/img/calender.png);
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: 4.5% 50%;
}

.works-block:last-child {
  background-image: url(/img/learn.png);
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: 4.5% 50%;
}
