@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

div,
p,
h1,
a,
nav,
li,
ol,
ul,
input,
button,
select,
option,
dl,
dt,
dd,
img,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", "DM Sans", "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  background: transparent;
}

li,
ol,
ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input,
select,
option {
  background: transparent;
  border: 0;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.inner-header {
  margin: 0 auto;
  padding: 40px 110px 20px;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  font-family: "Poppins";
  font-style: normal;
}

.depth-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.register {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #393939;
}

.depth a:hover,
.depth a:active {
  color: #ff922f;
}

.depth a::after {
  display: block;
  content: "";
  border-bottom: 3px solid #ff922f;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.depth a:hover::after {
  transform: scaleX(1);
  width: 100%;
}

.main-nav {
  text-align: center;
}

.depth-wrap a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.register a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 16px;
  border-radius: 8px;
}

.register p:first-child a {
  background-color: #407f55;
  color: #ffffff;
}

.register p:last-child a {
  background-color: #fb9c46;
  color: #ffffff;
}

.toggle {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 25px;
  display: none;
  color: #fb9c46;
}

.search {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 40px 110px 0;
  gap: 60px;
  font-family: "Poppins";
}

.tutors-search {
  background-color: #ffffff;
  border-radius: 10px;
  width: 70%;
  height: 66px;
  text-align: center;
  filter: drop-shadow(0 -2.55512px 32.4865px rgba(0, 0, 0, 0.117297))
    drop-shadow(0 -1.24049px 15.7716px rgba(0, 0, 0, 0.0945694));
}

input[type="search"] {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 22px 45px;
  margin: 0 auto;
}

input[type="search"]:first-child {
  background-image: url(/img/placeholder_돋보기.png);
  background-repeat: no-repeat;
  background-position: 20% 50%;
}

.popular-tutors {
  width: 30%;
  height: 66px;
  border-radius: 10px;
  background-color: #ffffff;
  filter: drop-shadow(0 -2.55512px 32.4865px rgba(0, 0, 0, 0.117297))
    drop-shadow(0 -1.24049px 15.7716px rgba(0, 0, 0, 0.0945694));
}

.tutors-search button {
  width: 28%;
  height: 44px;
  background-color: #fb9c46;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-image: url(/img/돋보기.png);
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

select option[value=""][disabled] {
  display: none;
}

.search select {
  padding-left: 50px;
  background-image: url(/img/Show.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

.search select option {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.lesson-types-btn {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 110px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-types-btn p a {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #fb9c46;
  box-shadow: rgba(0, 0, 0, 0.0945694px) 0 -1.24046px 15.7716px,
    rgba(0, 0, 0, 0.0754306) 0 -0.608097px 7.73152px,
    rgba(0, 0, 0, 0.0527031) 0 -0.240442px 3.05705px;
  padding: 10px;
  border-radius: 5px;
}

.lesson-types-btn ul {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 40px;
}

.lesson-types-btn ul button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #979797;
  padding: 10px 16px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.0945694) 0 -1.24046px 15.7716px,
    rgba(0, 0, 0, 0.0754306) 0 -0.608097px 7.73152px,
    rgba(0, 0, 0, 0.0527031) 0 -0.240442px 3.05705px;
  border-radius: 5px;
}

.lesson-types-btn ul button:focus {
  color: #ffffff;
  background-color: #fb9c46;
}

.tutors-list {
  position: relative;
  width: 100%;
}
.tutors-evaluation {
  max-width: 900px;
  margin: 0 auto;
}

.tutors-evaluation li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}

.tutors-introduction {
  width: 393px;
  height: 574.75px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.17) 0 -7px 89px,
    rgba(0, 0, 0, 0.117297) 0 -2.55512px 32.4865px,
    rgba(0, 0, 0, 0.0945694) 0 -1.24046px 15.7716px,
    rgba(0, 0, 0, 0.0754306) 0 -0.608097px 7.73152px,
    rgba(0, 0, 0, 0.0527031) 0 -0.240442px 3.05705px;
  border-radius: 10px;
  z-index: -1;
  padding: 20px;
}

.brooklyn-img {
  background-image: url(/img/france.png), url(/img/brooklyn_simmons.png);
  background-repeat: no-repeat;
  background-position: 5% 90%, 50% 0%;
  height: 210px;
}

.theresa-img {
  background-image: url(/img/china.png), url(/img/theresa_webb.png);
  background-repeat: no-repeat;
  background-position: 5% 90%, 50% 0%;
  height: 210px;
}

.kathryn-img {
  background-image: url(/img/russia.png), url(/img/kathryn_murphy.png);
  background-repeat: no-repeat;
  background-position: 5% 90%, 50% 0%;
  height: 210px;
}

.marvin-img {
  background-image: url(/img/germany.png), url(/img/marvin_mckinney.png);
  background-repeat: no-repeat;
  background-position: 5% 90%, 50% 0%;
  height: 210px;
}

.tutors-introduction a:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: black;
  padding-left: 30px;
  background-image: url(/img/play_btn.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

.tutor-names {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
}

.tutors-introduction dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #979797;
}

.tutors-introduction dt {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
}

.speaks {
  padding: 10px 0;
}

.speaks dd {
  display: inline-block;
  margin-right: 30px;
}

.speaks dd span {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #fb9c46;
}

.grade {
  text-align: end;
}

.tutors-grade {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.tutors-grade {
  position: relative;
  height: 18px;
  color: #333;
  font-size: 17px;
  line-height: 18px;
}

.grade-size {
  position: relative;
  height: 18px;
  color: #333;
  font-size: 17px;
  line-height: 18px;
}

.grade-size > span {
  background-image: url(/img/star_grade.png);
  background-position: 100px 0;
  width: 100px;
  height: 18px;
  background-size: 100px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  color: transparent;
  line-height: 200px;
  font-size: 1;
  content: "";
}

.grade-size > span::after {
  background-image: url(/img/star_grade.png);
  background-position: 100px 100px;
  width: 100px;
  height: 18px;
  background-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
}

.tutor-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.trial p {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #fb9c46;
}

.tutors-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.tutors-btn p {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #fb9c46;
  text-align: center;
  padding: 10px 0 10px 30px;
  background-image: url(/img/profile.png);
  background-repeat: no-repeat;
  background-position: 0 40%;
}

.tutors-btn a {
  padding: 8px 36px;
  background-color: #058e6e;
  border-radius: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

.trial dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trial {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.tutors-description {
  margin-top: 20px;
}

.tutors-greetings {
  position: relative;
  width: 451px;
  height: 575px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.17) 0 -7px 89px,
    rgba(0, 0, 0, 0.117297) 0 -2.55512px 32.4865px,
    rgba(0, 0, 0, 0.0945694) 0 -1.24046px 15.7716px,
    rgba(0, 0, 0, 0.0754306) 0 -0.608097px 7.73152px,
    rgba(0, 0, 0, 0.0527031) 0 -0.240442px 3.05705px;
  border-radius: 10px;
  padding: 0 20px;
}

.greetings-btn {
  text-align: center;
}

.greetings-btn button {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #979797;
  padding: 10px;
}

.greetings-btn button:hover,
.greetings-btn button:active {
  color: #ff922f;
}

.greetings-btn button::after {
  display: block;
  content: "";
  border-bottom: 3px solid #ff922f;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.greetings-btn button:hover::after {
  transform: scaleX(1);
  width: 100%;
}

.tutors-video {
  position: relative;
}

.description {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.description strong {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: black;
}

.description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #979797;
  padding: 10px 0;
}

.description a {
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: -40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding: 10px;
  background-color: #058e6e;
  border-radius: 7px;
  text-align: center;
}

.more-link a {
  display: block;
  width: 186px;
  margin: 100px auto;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  background-color: #fb9c46;
  border-radius: 7px;
  padding: 10px;
}

footer {
  background: #f2bf62;
  color: white;
}

.foo-flex {
  display: flex;
  justify-content: space-around;
  padding: 100px 70px 150px 70px;
}

.tutorify-sns p:first-child {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding: 20px 0;
}

.tutorify-sns p:nth-child(2n) {
  padding: 30px 0;
  font-weight: 400;
  font-size: 12px;
}

.tutorify-sns ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tutorify-sns a {
  display: block;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.foo-un {
  display: block;
}

.accordion {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: white;
  border-bottom: 1px solid white;
}

footer ul li {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.footer-menu li {
  line-height: 250%;
}

.foo-un p {
  padding-bottom: 100px;
  font-style: normal;
  text-align: center;
  font-weight: 20px;
  font-size: 16px;
  line-height: 21px;
}

@media screen and (max-width: 1430px) {
  .search {
    max-width: 1420px;
  }

  input[type="search"] {
    padding: 22px 0px;
  }

  input[type="search"]:first-child {
    background-position: 0% 50%;
  }

  .lesson-types-btn {
    max-width: 1420px;
  }

  .lesson-types-btn ul {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1185px) {
  .search {
    max-width: 900px;
    padding: 40px 0;
  }

  .tutors-search button {
    background-position: 10% 50%;
  }

  .lesson-types-btn {
    padding: 30px 90px 20px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .depth-wrap {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .depth-wrap.active {
    display: block;
  }

  .register {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .register.active {
    display: flex;
  }

  .toggle {
    display: block;
  }

  .lesson-types-btn p a {
    display: block;
    text-align: center;
  }

  .search {
    max-width: 700px;
    gap: 10px;
    justify-content: center;
  }

  .tutors-search {
    width: 50%;
    height: 190px;
  }

  input[type="search"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="search"]:first-child {
    background-image: url(/img/placeholder_돋보기.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
  }

  .tutors-search button {
    width: 30%;
    background-image: none;
    background-position: 5% 50%;
  }

  .tutors-evaluation li {
    flex-direction: column;
  }

  .tutors-greetings {
    display: none;
  }

  .lesson-types-btn {
    max-width: 400px;
    justify-content: space-around;
    padding: 0;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    min-width: 0;
  }

  .foo-flex {
    display: block;
  }

  .tutorify-sns {
    width: 100%;
  }

  .tutorify-sns ul {
    justify-content: flex-start;
  }

  .footer-inner {
    display: flex;
    flex-direction: column;
  }

  .tutorify-sns p:first-child {
    font-size: 24px;
  }

  .tutorify-sns p:nth-child(2n) {
    font-size: 12px;
  }

  .accordion ul li a {
    display: none;
  }

  .accordion {
    cursor: pointer;
    transition: 0.5s;
  }

  .acc_menu {
    overflow: hidden;
    display: none;
  }
}
