@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html{
	width: 1140px;
	margin: 0 auto;
	background-image: url(/img/Oval\ 복사.png);
	background-repeat: no-repeat;
	background-position: 140% 35%;

}
body {
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
header{
	width: 100%;
	display: block;
	position: relative;
}
a {
	background-color: transparent;
}
img {
	border-style: none;
}
ol,
ul,
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}
a:active,
a:link,
a:hover,
a:visited {
	text-decoration: none;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
img {
	border: 0;
}
button{
	background: transparent;
	cursor: pointer;
}
header{
	display: flex;
	padding: 1rem;
	position: relative;
}
header .container{
	width: 100%;
	display: flex;
}
header .container .logo img{
	margin-right: 1rem;
}
header .container .logo a{
	font-size: 36px;
}
header .container nav{
	width: 100%;
	display: flex;
	font-weight: bold;
}
header .container nav .menu{
	display: flex;
	margin: 1.2rem;
	position: relative;
}
header .container nav .menu a{
	border: 0;
	padding-right: 2rem;
	font-size: 18px;
}
header .container nav .menu a:hover{
	color: #03ACF2;
}
header .container nav .menu a:hover:after{
	display: block;
	position: absolute;
	bottom: -0.5rem;
	content: "";
	width: 30px;
	height: 5px;
	border-radius: 10px;
	background-color: #03ACF2;
	animation: slideMenu 0.5s ease-out;
}
@keyframes slideMenu{
	0%{
		width: 0;
	}
	100%{
		width: 30px;
	}
}
header .container nav .option{
	position: absolute;
	right: 3rem;
	padding: 1.3rem;
}
header .container nav .option a{
	padding: 2rem;
	font-size: 16px;
}
header .container nav .option a:nth-child(2n){
	background-color: #4CAF50;
	padding: 10px 40px;
	border-radius: 20px;
	color: white;
}
header .container nav .option a:nth-child(2n)::after{
	position: absolute;
	content: "";
	top: 1rem;
	left: 19rem;
	width: 1px;
	height: 30px;
	background-color: gray;
}
header .container nav .option img{
	position: absolute;
	top: 1rem;
}
header h1{
	font-size: 2rem;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
section .main{
	padding: 1rem;
	position: relative;
}
section .main h2{
	font-size: 48px;
}
section .main h3{
	font-size: 32px;
	color: rgba(0, 0, 0, 0.54);
}
section .main a{
	font-size: 24px;
	color: #357A38;
	line-height: 3rem;
	font-weight: bold;
	margin-right: 1.5rem;
	padding: 1rem;
	margin-left: -1rem;
}
section .main a:nth-child(2n){
	background-color: #03ACF2;
	color: white;
	padding: 10px 40px;
	border-radius: 24px;
}

section .container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	position: relative;
}
section .container li{
	font-size: 1.6rem;
	font-weight: bold;
}
section .container div:first-child::after{
	position: absolute;
	content: "";
	top: 1rem;
	left: 27rem;
	width: 1px;
	height: 65px;
	background-color: gray;
}
section .container div:nth-child(2n)::after{
	position: absolute;
	content: "";
	top: 1rem;
	left: 46rem;
	width: 1px;
	height: 65px;
	background-color: gray;
}
section .container li:first-child:hover{
	color: #03ACF2;
}
section .container li:first-child:hover:after{
	display: block;
	position: absolute;
	bottom: 0;
	content: "";
	width: 120px;
	height: 5px;
	border-radius: 10px;
	background-color: #03ACF2;
	animation: slide 0.5s ease-out;
}
@keyframes slide{
	0%{
		width: 0;
	}
	100%{
		width: 120px;
	}
}
section .container li:nth-child(2n){
	font-weight: normal;
	font-size: 1rem;
	margin-top: 1rem;
}
section .personnel{
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
section .personnel img{
	object-fit: none;
	float: left;
	margin-left: 4rem;
}
section .personnel .counters{
	float: left;
	display: block;
	font-size: 2.5rem;
	font-weight: bold;
	color: #357A38;
}
section .personnel .counter{
	float: left;
	display: block;
	font-size: 2.5rem;
	font-weight: bold;
	color: #357A38;
	margin-top: 0.6rem;
}
section .personnel .counter p:last-child{
	font-size: 1.5rem;
	color: black;
}
section .personnel .counter p{
	padding: 0;
	margin: 0 2rem;
}
section .personnel .counters p:last-child{
	font-size: 1.5rem;
	color: black;
}
section .personnel .counters p{
	padding: 0;
	margin: 0 2rem;
}
section .personnel p:last-child{
	display: block;
	content: "";
	clear: both;
	line-height: 1.5rem;
}
section .personnel .texts{
	padding-top: 1.1rem;
}
.visual{
	background-image: url(/img/Oval.png);
	position: absolute;
	background-color: red;
}